<div class="container">



	<%= form_for(resource, :as => resource_name, :html => { :class => "form-signin" }, :url => session_path(resource_name)) do |f| %>

		<h2 class="form-signin-heading">Sign in</h2>

		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

		<br /><br />
	  
	  <%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'Email Address' %>

	  <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>

	  <% if devise_mapping.rememberable? -%>
		<label class="checkbox">
			<%= f.check_box :remember_me %> <%= f.label :remember_me %>
		</label>
	  <% end -%>

	  <%= f.submit "Sign in", :class => 'btn btn-lg btn-primary btn-block' %>

	<% end %>

</div> <!-- /container -->
