<%# add navigation links to this file %>
<% if user_signed_in? %>

	<li <% if current_page?(edit_user_registration_path) %>class="active"<% end %>>
		<%= link_to 'Settings', edit_user_registration_path %>
	</li>
	<li <% if current_page?(destroy_user_session_path) %>class="active"<% end %>>
		<%= link_to :logout, destroy_user_session_path, :method => :delete %>
	</li>

<% else %>

	<li <% if current_page?(root_path) %>class="active"<% end %>>
		<%= link_to "Early access", root_path %>
	</li>
	<li <% if current_page?(about_path) %>class="active"<% end %>>
		<%= link_to "About us", about_path %>
	</li>

	<li <% if current_page?(new_user_registration_path) %>class="active"<% end %>>
		<%= link_to 'Create Account', new_user_registration_path %>
	</li>
	<li <% if current_page?(new_user_session_path) %>class="active"<% end %>>
		<%= link_to 'Login', new_user_session_path %>
	</li>

<% end %>