<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Wivern" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Wivern" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href="<%= asset_path 'favicon.ico' %>" rel="shortcut icon" type="image/x-icon"/>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container">

          <div class="row">
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

             <%= render 'layouts/messages' %>
             <%= render 'layouts/sidebar' %>
             <%= yield %>

            </div>
          </div>

      </div>
    </main>
  </body>
</html>
